In [1]:
!pip install sqlalchemy

Requirement already satisfied: sqlalchemy in c:\users\peggy\anaconda3\lib\site-packages (2.0.30)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy) (3.0.1)

In [3]:
!pip install ipython_sql

Requirement already satisfied: ipython_sql in c:\users\peggy\anaconda3\lib\site-packages (0.5.0)
Requirement already satisfied: prettytable in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (3.11.0)
Requirement already satisfied: ipython in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (8.25.0)
Requirement already satisfied: sqlalchemy>=2.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (2.0.30)
Requirement already satisfied: sqlparse in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (0.5.1)
Requirement already satisfied: six in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (1.16.0)
Requirement already satisfied: ipython-genutils in c:\users\peggy\anaconda3\lib\site-packages (from ipython_sql) (0.2.0)
Requirement already satisfied: typing-extensions>=4.6.0 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython_sql) (4.11.0)
Requirement already satisfied: greenlet!=0.4.17 in c:\users\peggy\anaconda3\lib\site-packages (from sqlalchemy>=2.0->ipython_sql) (3.0.1)
Requirement already satisfied: decorator in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.1.1)
Requirement already satisfied: jedi>=0.16 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.18.1)
Requirement already satisfied: matplotlib-inline in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.1.6)
Requirement already satisfied: prompt-toolkit<3.1.0,>=3.0.41 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (3.0.43)
Requirement already satisfied: pygments>=2.4.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (2.15.1)
Requirement already satisfied: stack-data in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.2.0)
Requirement already satisfied: traitlets>=5.13.0 in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (5.14.3)
Requirement already satisfied: colorama in c:\users\peggy\anaconda3\lib\site-packages (from ipython->ipython_sql) (0.4.6)
Requirement already satisfied: wcwidth in c:\users\peggy\anaconda3\lib\site-packages (from prettytable->ipython_sql) (0.2.5)
Requirement already satisfied: parso<0.9.0,>=0.8.0 in c:\users\peggy\anaconda3\lib\site-packages (from jedi>=0.16->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: executing in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.8.3)
Requirement already satisfied: asttokens in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (2.0.5)
Requirement already satisfied: pure-eval in c:\users\peggy\anaconda3\lib\site-packages (from stack-data->ipython->ipython_sql) (0.2.2)

In [ ]:
#CHAPITRE 1

In [ ]:
#Ex 1 : Mailing Addresse

In [11]:
mail = input ("Veuillez renseigner votre mail : ")

Veuillez renseigner votre mail :  john.doe@xxx.fr

In [7]:
name = input ("Entrez votre nom : ")

Entrez votre nom :  john

In [ ]:
#Ex 2 : Hello

In [27]:
name = input ("Entrez votre nom : ")
print(f" Hello,{name} ")

Entrez votre nom :  peggy

 Hello,peggy

In [ ]:
#Ex 3 : Area of a room

In [218]:
width = float(input ("Veuillez renseigner la largeur en mètre  : "))
length = float(input ("Veuillez renseigner la longeur en mètre: "))
area = width * length
print(" La surface est de" , area,"mètres carrés")

Veuillez renseigner la largeur en mètre  :  5
Veuillez renseigner la longeur en mètre:  7

 La surface est de 35.0 mètres carrés

In [ ]:
#Ex 4 Area of a field

In [55]:
acre = area/100
print (" La surface est de", acre, "ares")

 La surface est de 0.42 ares

In [ ]:
#Ex 5 Bottle deposits

In [119]:
little_bottle = int(input("Nombre de petite bouteille: "))
total_little = little_bottle * 0.1
big_bottle = int(input("Nombre de grande bouteille: "))
total_big = big_bottle * 0.25
total = round((total_little + total_big),2)
print(total)
total_dollar = f"Vous avez gagné {total} $ "
print(total_dollar)

Nombre de petite bouteille:  56
Nombre de grande bouteille:  45

16.85
Vous avez gagné 16.85 $

In [ ]:
#Ex 6 Tax and tip

In [216]:

repas_hors_taxe = float(input("Quel est le prix du repas HT: "))
total_tva = repas_hors_taxe/10
print(total_tva)
total_tip = repas_hors_taxe * 0.18
print(total_tip)
total = round((repas_hors_taxe + total_tva + total_tip), 2 )
print("Le prix total du repas est de :" ,total,"€")

Quel est le prix du repas HT:  56

5.6
10.08
Le prix total du repas est de : 71.68 €

In [ ]:
#Ex 7 Sum of th first n positive integers

In [135]:
n = int(input("Tapez un nombre entier: "))
print(n)
sum = (n *(n + 1))/2
print(sum)

Tapez un nombre entier:  6

6
21.0

In [ ]:
#8 Widgets and Gizmos

In [154]:
widget = int(input("Nombre de widgets: "))
gizmos = int(input("Nombre de Gizmos: "))
weight_widget = widget * 75
weight_gizmos = gizmos * 112
total = weight_widget + weight_gizmos
print("Le poids total est de :", total, "grammes")

Nombre de widgets:  23
Nombre de Gizmos:  12

Le poids total est de : 3069 grammes

In [ ]:
#9 Compound Interest

In [160]:
amount_account = float(input("Montant déposé : "))
amount_year_1 = amount_account * 1.04
print(round(amount_year_1, 2))
amount_year_2 = amount_year_1 * 1.04
print(round(amount_year_2, 2))
amount_year_3 = amount_year_2 * 1.04
print(round(amount_year_3, 2))

Montant déposé :  100

104.0
108.16
112.49

In [ ]:
#10 Arithmetic

In [168]:
import math

a = int(input("Nombre a :"))
b = int(input("Nombre b :"))
sum = a + b
print(sum)
diff = a - b
print(diff)
product = a * b
print(product)
quot = a/b
print(quot)
modulo = a%b
print(modulo)
puissance= a**b
print(puissance)
#og = log10a
#print(log)

Nombre a : 7
Nombre b : 3

10
4
21
2.3333333333333335
1
343

In [ ]:
# Ex 11 Fuel Efficiency

In [236]:
MPG = float(input("Consommation en Miles par Gallon :"))
conso_L100 = (MPG/3.785)*1.609
print("Votre consommation est de ", conso_L100, "litres pour 100km")

Consommation en Miles par Gallon : 35

Votre consommation est de  14.878467635402904 litres pour 100km

In [ ]:
#Ex 12 Distance between two points on earth

In [244]:
import math

t1 = int(input("Latitude du point 1 en degrés: "))
g1 = int(input("Longitude du point 1 en degrés:"))
t2 = int(input("Latitude du point 2 en degrés: "))
g2 = int(input("Longitude du point 2 en degrés: "))

t1_rad = t1 * 0,0174533
t2_rad = t2 * 0,0174533
g1_rad = g1 * 0,0174533
g2_rad = g2 * 0,0174533

distance = 6371.01 * math.acos(math.sin(t1) × math.sin(t2) + math.cos(t1) × math.cos(t2) × mathcos(g1 − g2))

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (1342045654.py, line 8)

In [ ]:
#CHAPITRE 2

In [ ]:
#Ex 35 Even or Odd

In [246]:
nb = int(input("Veuillez indiquer un nombre entier: "))

if nb%2 == 0 :
    print(" Le nombre ", nb, "est un nombre pair")
else :
    print("Le nombre", nb, "est un nombre impair")

Veuillez indiquer un nombre entier:  55

Le nombre 55 est un nombre impair

In [ ]:
#Ex 36 Dog years

In [186]:
age = int(input("Veuillez indiquer votre âge : "))
if age<2 :
    dog_years = age * 10.5
    
elif age>= 2 :
    dog_years = 21 + (age-2)*4

print("Votre âge en années chien est de : ", dog_years, "ans")

Veuillez indiquer votre âge :  8

Votre âge en années chien est de :  45 ans

In [ ]:
#Ex37 Vowel or Consonant

In [222]:
letter = str(input("Veuillez indiquer une lettre de l'alphabet : "))
if letter in ['a','e','i','o','u']:
    print("The letter", letter, "is a vowel.")
elif letter == 'y':
    print("The letter y is sometimes a vowel and sometimes a consonant.")
else:
    print("The letter", letter, "is a consonant")

Veuillez indiquer une lettre de l'alphabet :  a

The letter a is a vowel.

In [ ]:
#Ex38 Name that Shape

In [214]:
sides = int(input("Le nombre de côtés est : "))

shape = ""
if sides == 3 :
    shape = "triangle"
elif sides == 4 :
    shape = "carré"
elif sides == 5 :
    shape = "pentagone"
elif sides == 6 :
    shape = "hexagone"
elif sides == 7 :
    shape = "heptagone"
elif sides == 8 :
    shape = "octogone"
elif sides == 9 :
    shape = "nonagone"
elif sides == 10 :
    shape = "decagone"
else :
    print("Erreur : valeur trop importante !")
               
print("Ceci est un",shape)

Le nombre de côtés est :  6

Ceci est un hexagone

In [ ]:
#Ex39 Month name to number of days

In [272]:
month_31 = ['janvier', 'mars', 'mai', 'juillet', 'août', 'octobre', 'décembre']
month_30 = ['avril', 'juin', 'septembre', 'novembre']

month = str(input("Quel mois sommes nous ?"))

if month in month_31 :
    print(f"Il y a 31 jours dans le mois de {month}.")
elif month in month_30 :
    print(f"Il y a 30 jours dans le mois de {month}.")
else : 
    print("Le mois de février peut avoir 28 ou 29 jours.")

Quel mois sommes nous ? avril

Il y a 30 jours dans le mois de avril.

In [ ]:
#Ex 40 Sound levels

In [282]:
sound_level = int(input("Quel est le niveau sonore en décibels ?"))

jackhammer =130
lawnmover = 106
alarm = 70
room = 40

if sound_level > jackhammer : 
    print("Niveau sonore dangereux !")
elif sound_level == jackhammer :
    print("Le niveau sonore correspond à celui d'un marteau piqueur.")
elif sound_level < jackhammer and sound_level> lawnmover :
    print("Le niveau sonore est compris entre celui d'un marteu piqueur et celui d'une tondeuse.")
elif sound_level == lawnmover :
    print("Le niveau sonore correspond à celui d'une tondeuse.")
elif sound_level < lawnmover and sound_level > alarm :
    print("Le niveau sonore est compris entre celui d'une tondeuse et celui d'une alarme de réveil.")
elif sound_level == alarm :
    print("Le niveau sonore correspond à celui d'une alarme de révei.")
elif sound_level < alarm and sound_level > room:
    print("Le niveau sonore est compris entre celui d'une alarme de réveil et celui d'une chambre calme.")
elif sound_level == room :
    print("Le niveau sonore correspond à celui d'une chambre calme.")
else : 
    print("Le niveau sonore est bas.")

Quel est le niveau sonore en décibels ? 45

Le niveau sonore est compris entre celui d'une alarme de réveil et celui d'une chambre calme.

In [ ]:
#Ex 46 What color is that square ?

In [312]:
first_black = ['a', 'c', 'e', 'g']
first_white = ['b', 'd', 'f', 'h']

impair = [1,3,5,7]
pair= [2,4,6,8]

letter = str(input("Quelle est la colonne ?"))
number = int(input("Quelle est la ligne ?"))

if (letter in first_black and number in impair) or (letter in first_white and number in pair)  :
    print("Vous êtes sur une case noire.") 
elif (letter in first_black and number in pair) or (letter in first_white and number in impair) :
    print("Vous êtes sur une case blanche.")
else :
    print("Erreur : cette case n'existe pas")

Quelle est la colonne ? g
Quelle est la ligne ? 3

Vous êtes sur une case noire.

In [ ]:
#Ex47 Season from month and day

In [322]:
month  = str(input("Quel est le mois ?"))
day = int(input("Quel est le jour ?"))

if (month == 'mars' and day >= 20) or (month == 'avril') or (month == 'mai') or (month == 'juin' and day < 21) :
    print("Nous sommes au printemps.")
elif(month == 'juin'and day >= 21) or (month == 'juillet') or (month == 'août') or (month == 'septembre' and day < 22 ):
    print("Nous sommes en été.")
elif(month == 'septembre'and day >= 22) or (month == 'octobre') or (month == 'novembre') or (month == 'décembre' and day < 21 ):
    print("Nous sommes en autumne.")
elif(month == 'décembre'and day >= 21) or (month == 'janvier') or (month == 'février') or (month == 'mars' and day < 20 ):
    print("Nous sommes en hiver.")
else :+
    print("Erreur : entrée incorrecte")

Quel est le mois ? février
Quel est le jour ? 29

Nous sommes en hiver.

In [ ]:
#CHAPITRE 3

In [ ]:
#Ex63 Average

In [ ]:
#Ex64 Discount table

In [332]:
purchases = [4.95, 9.95, 14.95, 19.95, 24.95]

for i in purchases :
    print(i)
    discount = "%.2f" %(i * 0.40)
    print(discount)

4.95
1.98
9.95
3.98
14.95
5.98
19.95
7.98
24.95
9.98

In [ ]:
#Ex 67 Compute the perimeter of a polygone

In [ ]:
x_coordinate = int(input("Enter the first x-coordinate : ")
y_coordinate = int(input("Enter the first y_coordinate : ")

In [400]:
#Ex69 Admission price

under2 = 0
children = 14
senior = 18
adult = 23

cost = 0

age_guests = input("Veuillez renseigner l'âge des visiteurs (blank to quit) : ")
while age_guests != "" :
    age = int(age_guests)
    
    if age <= 2 :
        cost = cost + 0
    elif age  >= 3 and age < 12 :
        cost = cost + 14
    elif age >= 13 and age < 65 :
        cost = cost + 18 
    else :
        cost = cost + 23 
        
    age_guests = input("Veuillez renseigner l'âge des autres visiteurs (blank to quit) : ")
    
print(f"Le prix total pour le groupe est de {cost}$")

Veuillez renseigner l'âge des visiteurs (blank to quit) :  56
Veuillez renseigner l'âge des autres visiteurs (blank to quit) :  23
Veuillez renseigner l'âge des autres visiteurs (blank to quit) :  4
Veuillez renseigner l'âge des autres visiteurs (blank to quit) :  78
Veuillez renseigner l'âge des autres visiteurs (blank to quit) :

Le prix total pour le groupe est de 73$

In [ ]:
#Ex72 Fizz - Buzz

In [374]:

for i in range(1, 101):
    if i % 3 == 0 :
        print("fizz")
    elif i % 5 == 0 :
        print("buzz")
    else :
        print(i)

1
2
fizz
4
buzz
fizz
7
8
fizz
buzz
11
fizz
13
14
fizz
16
17
fizz
19
buzz
fizz
22
23
fizz
buzz
26
fizz
28
29
fizz
31
32
fizz
34
buzz
fizz
37
38
fizz
buzz
41
fizz
43
44
fizz
46
47
fizz
49
buzz
fizz
52
53
fizz
buzz
56
fizz
58
59
fizz
61
62
fizz
64
buzz
fizz
67
68
fizz
buzz
71
fizz
73
74
fizz
76
77
fizz
79
buzz
fizz
82
83
fizz
buzz
86
fizz
88
89
fizz
91
92
fizz
94
buzz
fizz
97
98
fizz
buzz

In [ ]:
#Ex73 Caesar Cipher

In [ ]:
message = ("Veuillez écrire votre message :")

alphabet = "abcdefghijklmnopqrstuvwxyz"

cipher_letter = alphabet[i+3]

In [ ]:
CHAPITRE 5 LISTS

In [ ]:
#Ex 110 Sorted order

In [15]:
nb_list = []
nb_user = int(input("Ecrire un nombre (0 to quit):"))

while nb_user != 0 :
    nb_list.append(nb_user)
    nb_user = int(input("Ecrire un nombre :"))
    
nb_list.sort()

for nb_user in nb_list :
    print (nb_user)

Ecrire un nombre (0 to quit): 56
Ecrire un nombre : 23
Ecrire un nombre : 14
Ecrire un nombre : 0

14
23
56

In [ ]:
#Ex111 Reverse order

In [21]:
list = []
nb_user = int(input("Ecrire un nombre (0 to quit):"))

while nb_user != 0 :
    list.append(nb_user)
    
    nb_user = int(input("Ecrire un nombre (0 to quit:"))

list.reverse()

for nb_user in list :
    print (nb_user)

Ecrire un nombre (0 to quit): 54
Ecrire un nombre (0 to quit: 45
Ecrire un nombre (0 to quit: 78
Ecrire un nombre (0 to quit: 14
Ecrire un nombre (0 to quit: 0

14
78
45
54

In [ ]:
#Ex 112 Remove outliers

In [29]:
def new_copy (list, n):

    list = []
    nb_user = int(input("Ecrire un nombre (blank to quit):"))
    
    while len(list)>3 :
        list.append(nb_user)
        nb_user = int(input("Ecrire un nombre (blank to quit:"))

    list.sort()

new_list = list.pop(list[n-n],list[n-1], list[-n+1], list[-n])
                        
    return new_copy
new_copy(list, 2)

Ecrire un nombre (blank to quit): 56

IndexError: list index out of range

In [ ]:
#Ex 145  Scrabble score

In [90]:
scrabble = {"a":1,"e":1,"i":1,"l":1,"n":1,"o":1,"r":1,"s":1,"t":1,"u":1,"d":2,"g":2,"b":3,"c":3,"m":3,"p":3,"f":4,"h":4,"v":4,"w":4,"y":4,"k":5,"j":8,"x":8,"q":10,"z":10}
print(scrabble.values())

word = str(input("Ecrire un mot : "))

total = 0
for i in word :
        total += scrabble[i]

print (total)

dict_values([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 2, 2, 3, 3, 3, 3, 4, 4, 4, 4, 4, 5, 8, 8, 10, 10])

Ecrire un mot :  bonjour

16